Repository Fatihayoz/HYF-Website, pull requests merged in 2021-02, with the labels that each got.

#2 Readme feedback
  README.md
Labels: documentation

#3 add Perez
  README.md
Labels: documentation

#4 Urls fixed
  README.md
Labels: documentation

#6 constraints added
  planning/constraints.md
Labels: documentation, enhancement

#80 Our program
  .DS_Store
  css/style.css
  images/arrow-right-solid.png
  images/arrow-right-solid.svg
  index.html
Labels: CSS, HTML, documentation

#83 Our impact
  css/style.css
  index.html
Labels: CSS, HTML

#82 Updated program
  css/style.css
  index.html
Labels: CSS, HTML, documentation

#85 shortcut to live demo added.
  shortcut-livedemo.md
Labels: documentation

#86 live-demo added to the README.md and shortcut-livedemo.md file deleted
  planning/README.md
  shortcut-livedemo.md
Labels: documentation, enhancement

#89 html responsive
  css/style.css
  index.html
Labels: CSS, HTML

#95 Banner
  css/style.css
  index.html
Labels: CSS, HTML

#99 html and css support us
  css/style.css
  index.html
Labels: CSS, HTML

#100 Support updated
  css/style.css
  index.html
Labels: CSS, HTML

#107 development strategy week 3
  planning/development-strategy.md
Labels: enhancement

#139 Apply css updated
  css/style.css
Labels: CSS

#145 Not it branch
  about.html
  css/style.css
  faq.html
  index.html
  support-us.html
  the-program.html
  volunteer.html
Labels: CSS, HTML

#142 fixed header bugs
  about.html
  faq.html
  index.html
  support-us.html
  the-program.html
  volunteer.html
Labels: bug

#148 Program new career
  css/style.css
  the-program.html
Labels: CSS, HTML

#149 Some bugs were solved for responsive design.
  css/style.css
Labels: CSS

#150 Css updated
  css/style.css
Labels: CSS
